* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.Services {
  height: fit-content;
  width: 75%;
  margin-top: 100px;
  display: flex;
  gap: 20px;
  font-family: "Inter", sans-serif;
  flex-direction: column;
}

.Services h2 {
  font-size: 48px;
  line-height: 54px;
  font-weight: 600;
}

.Services p {
  color: #e9204f;
  font-size: 14.7px;
  letter-spacing: -0.72px;
}

.serviceItems {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  height: 50%;
}

.serviceItem {
  background-color: #f3f3f3;
  height: 100px;
  width: 360px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
  justify-content: space-between;
  transition: ease-out 400ms;
}

.serviceItem p {
  font-size: 19px;
  width: 159px;
  color: black;
  font-weight: 600;

  transition: ease-out 400ms;
  margin-left: -60px;
}

.serviceItem i {
  font-size: 30px;
  line-height: 20px;
  color: black;

  transition: ease-out 400ms;
}

.serviceItem i:nth-child(1) {
  visibility: collapse;
  font-size: 20px;
  color: #f06384;
  margin-left: -30px;
}

.serviceItem i:nth-child(2) {
  font-size: 20px;
}

.serviceItem:hover {
  background-color: #e9204f;
}

.serviceItem:hover p,
.serviceItem:hover i {
  color: white;
  transition: ease-out 350ms;
}

.serviceItem:hover i {
  transform: translatex(12px);
}

.serviceItem:hover p {
  transform: translateX(60px);
}

.serviceItem:hover i:nth-child(1) {
  visibility: visible;
  font-size: 60px;
  color: #f06384;
  transition: ease-out 300ms;
  transform: translateX(20px);
}



.news {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  width: 70%;
  height: fit-content;
  margin-top: 100px;
}

.news img {
  width: 127px;
  height: 21px;
  object-fit: contain;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 74%;
}

.blog h2 {
  font-size: 48px;
  font-family: "AvantGarde", sans-serif;
  margin-top: 110px;
}

.blog p {
  color: #e9204f;
  font-family: "Trade Gothic", Sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 17px;
  margin-top: 25px;
  letter-spacing: -0.72px;
}
