* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
  height: 100vh;
  padding: -5px;
}

hr {
  width: 45px;
  border: 2px solid #e9204f;
}

nav {
  font-family: "AvantGarde", sans-serif;
  background-color: black;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  z-index: 11;
}

.navbar {
  background-color: transparent;
  width: 71%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: space-between;
  gap: 25%;
  font-size: 10px;
}

.navbar h1 {
  font-size: 50px;
  width: 120px;
  transition: linear 300ms;
}

#hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.navbar h1:hover {
  color: #e9204f;
  transition: ease-out 300ms;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
a hr {
  background-color: #e9204f;
  outline: none;
  height: 2px;
  border: 0;
  outline-offset: 0px;
  width: 0;
  transition: ease-out 300ms;
}

a:hover {
  color: #e9204f;
  transition: ease-out 200ms;
}

a:hover hr {
  width: 50%;
  transition: ease-out 200ms;
}

ul {
  display: flex;
  gap: 20px;
  font-size: 16px;
  list-style: none;
}

i {
  color: white;
  height: 22px;
  width: 20px;
  margin-left: 5px;
}

i:hover {
  color: #e9204f;
}

.header {
  width: 100%;
  height: fit-content;
  background-color: #000000;
  position: relative;

}

.head1 {
  height: fit-content;
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.headContent {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 42%;
  transform: translateX(-50%);
  color: white;
  height: fit-content;
  width: fit-content;
  gap: 40px;
  background-color: transparent;
}

.btnDiv {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: left !important;
  align-items: center;
  padding-left: 0 !important;
}

.headerContainer {
  width: 80%;
  /* max-width: 1200px; */
  height: fit-content;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #000000;
  grid-template-columns: repeat(3, 1fr); 
  transform: translateX(-50%);
  /* min-height: 385px; */
  margin-top: 100px;
  left: 50%;
  position: relative;
}

.headItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 380px;
  background-color: #1b1b1b;
  color: white;
  padding: 60px 40px;
  font-size: 17px;
  transition: ease-out 400ms;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.headItem:hover {
  background-color: #e9204f;
  transition: ease-out 400ms;
}

#item3 {
  width: 100%;
  height: 100%;
  position: relative;
}

.back {
  height: 60px;
  position: absolute;
  z-index: 1;
  background-color: #e9204f;
  width: 105%;
  /* width: 396px; */
  bottom: -20px;
  left: 0;
}

.headItem:hover i {
  color: white;
  transition: ease-out 400ms;
}

.headItem h3 {
  font-size: 24px;
  line-height: 33.5px;
  letter-spacing: -0.96px;
}

.headItem i {
  font-size: 48px;
  color: #e9204f;
  margin-bottom: 60px;
}

.headItem i:hover {
  color: white;
}

.line{
  position: absolute;
  left: 50%;
  top: 100%;
  height: 150px; /* Adjust height as needed */
  width: 2px;
  height: 30px;
  background-color: #e9204f;
  border: none; /* Remove default hr border */
  transform: translateX(-50%);
  z-index: 0; 
}


.headContent hr {
  height: 2px;
  width: 70px;
}

.headContent h1 {
  font-family: "AvantGarde Bold", Sans-serif;
  font-size: 78px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -1.9px;
}

.Services {
  height: fit-content;
  width: 75%;
  margin-top: 100px;
  display: flex;
  gap: 20px;
  font-family: "Inter", sans-serif;
  flex-direction: column;
}

.Services h2 {
  font-size: 48px;
  line-height: 54px;
  font-weight: 600;
}

.Services p {
  color: #e9204f;
  font-size: 14.7px;
  letter-spacing: -0.72px;
}

.serviceItems {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  height: 50%;
}

.serviceItem {
  background-color: #f3f3f3;
  height: 100px;
  width: 360px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
  justify-content: space-between;
  transition: ease-out 400ms;
}

.serviceItem p {
  font-size: 19px;
  width: 159px;
  color: black;
  font-weight: 600;

  transition: ease-out 400ms;
  margin-left: -60px;
}

.serviceItem i {
  font-size: 30px;
  line-height: 20px;
  color: black;

  transition: ease-out 400ms;
}

.serviceItem i:nth-child(1) {
  visibility: collapse;
  font-size: 20px;
  color: #f06384;
  margin-left: -30px;
}

.serviceItem i:nth-child(2) {
  font-size: 20px;
}

.serviceItem:hover {
  background-color: #e9204f;
}

.serviceItem:hover p,
.serviceItem:hover i {
  color: white;
  transition: ease-out 350ms;
}

.serviceItem:hover i {
  transform: translatex(12px);
}

.serviceItem:hover p {
  transform: translateX(60px);
}

.serviceItem:hover i:nth-child(1) {
  visibility: visible;
  font-size: 60px;
  color: #f06384;
  transition: ease-out 300ms;
  transform: translateX(20px);
}

.works {
  width: 74%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 60px;
}

.workHead {
  margin-top: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.workHead h2 {
  font-size: 47px;
  letter-spacing: -1.9px;
  font-weight: 600;
}

.horizontal {
  width: 50px;
  rotate: 90deg;
  margin-top: 40px;
  justify-self: center;
}

.workHead div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workHead p {
  color: #e9204f;
  letter-spacing: -0.72px;
  font-size: 14.6px;
  font-weight: bold;
  line-height: 17px;
}

.floatingBtn {
  height: 50px;
  background-color: transparent;
  border-color: #e9204f;
  position: relative;
  overflow: hidden;
  width: 150px;
  cursor: pointer;
  /* width: fit-content; */
  transition: all 0.3s ease-out !important;
  font-family: "Roboto", sans-serif;
}

.floatingBtn div {
  width: 0;
  background-color: #e9204f;
  position: absolute;
  z-index: 1;
  top: -10%;
  height: 100px;
  transition: all 0.3s ease-out !important;
}

.floatingBtn p {
  margin: 10px 37px;
  position: absolute;
  z-index: 2;
  color: black;
  top: 10%;
  left: 3%;
  font-size: 17px;
  font-weight: bold;
}

.floatingBtn:hover div {
  width: 100%;
  transition: all 0.3s ease-out !important;
}

.floatingBtn:hover p {
  color: white;
  transition: all 0.3s ease-out !important;
}

.designs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-top: 60px;
  padding: 0 10px;
}

.designContainer {
  width: 100%;
  height: fit-content;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  min-width: 400px;
}

.designItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  height: fit-content;
  position: relative;
  overflow: hidden;
  gap: 5px;
  min-height: 430px;
  cursor: pointer;
}

.designItem img {
  width: 100%;
  filter: grayscale(100%);
  transition: ease-out 400ms;
  height: 450px;
}

.designItem div {
  display: flex;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: white;
  gap: 5px;
  height: 450px;
  transition: ease-out 400ms;
  opacity: 0;
}

.inlineDiv h2,
.inlineDiv p {
  margin-left: -20px;
  font-family: Poppins, sans-serif;
  transition: ease-out 400ms;
}

.frontDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 57% 0 0 0;
  opacity: 100% !important;
  background-color: rgba(116, 116, 116, 0.3);
  gap: 20px !important;
}

.icon {
  font-size: 40px;
  margin-top: -20px;
  font-weight: 600;
  visibility: hidden;
  transition: ease-out 300ms;
}

.icon:hover {
  color: white;
}

.designItem:hover img {
  transform: scale(1.21);
  filter: none;
  transition: 700ms;
  filter: brightness(40%);
}

.designItem:hover .frontDiv {
  transform: translateY(-20px);
}

.designItem:hover .icon {
  visibility: visible;
  transition: ease-out 200ms;
}

.designItem:hover .inlineDiv {
  opacity: 100%;
}

.designItem:hover .frontDiv {
  background-color: transparent;
}

.designItem:hover .inlineDiv h2 {
  margin-left: 20px;
  transition: ease-out 400ms;
}

.designItem:hover .inlineDiv p {
  margin-left: 20px;
  transition: ease-out 400ms;
}

.options {
  height: 30px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.option {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #747474;
}

.option:nth-child(1) {
  background-color: #e9204f;
  border-color: #e9204f;
}

.option:hover {
  scale: 1.1;
  cursor: pointer;
}

.about {
  display: flex;
  width: 74%;
}

.aboutHead {
  margin-top: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.aboutHead div h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

.aboutHead p {
  color: #e9204f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 17px;
}

.aboutHead div {
  display: flex;
  justify-content: space-between;
}

.aboutHead div p {
  color: #747474;
  line-height: 26px;
  width: 60%;
  text-transform: none;
  font-size: 16.5px;
}

.about2 {
  width: 74%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.aboutContainer1 {
  width: 100%;
  height: fit-content;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  min-width: 400px;
  height: fit-content;
}

.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
  gap: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: ease-out 400ms;
}

.item1:nth-child(1) {
  grid-row: span 2;
  grid-column: span 2;
}

.item1 p {
  position: absolute;
  z-index: 1;
  color: white;
  bottom: 20px;
  left: 20px;
  font-size: 15px;
  letter-spacing: -0.01px;
  font-family: "Times New Roman", Times, serif;
}
.item1 h2 {
  position: absolute;
  z-index: 1;
  color: white;
  bottom: 40px;
  left: 20px;
  font-size: 20px;
  letter-spacing: -0.04px;
  font-family: Poppins, sans-serif;
}

.item1 img {
  filter: grayscale();
  transition: ease-out 400ms;
}

.item1:hover img {
  filter: grayscale(1);
  filter: none;
  filter: brightness(50%);
  transform: scale(1.1);
  transition: ease-out 400ms;
}

.aboutContainer2 {
  width: 100%;
  height: fit-content;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  min-width: 400px;
  height: fit-content;
  margin-top: 70px;
}

.item2 {
  width: 90%;
  gap: 30px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.item2 p {
  font-size: 15.6px;
  line-height: 26px;
}

.item2 h2 {
  font-size: 22px;
  line-height: 28px;
}

.client {
  width: 74%;
  height: fit-content;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  min-width: 430px;
  height: fit-content;
  margin-top: 100px;
}

.client1 {
  height: 620px;
  position: relative;
  overflow: hidden;
  width: 460px;
}

.client1 img {
  position: absolute;
  z-index: 2;
  height: 600px;
  left: 0;
  top: 0;
}

.client1 div {
  height: 100px;
  min-width: 100px;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  background-color: #e9204f;
  right: 0;
}

.client2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-self: flex-start;
  padding: 50px 0 0 0;
  font-family: "Inter", sans-serif;
}

.client2 h2 {
  font-size: 50px;
  letter-spacing: -2px;
  line-height: 60px;
}

.text1 {
  color: #e9204f;
  font-size: 14.6px;
  letter-spacing: -0.72px;
  line-height: 17px;
  font-weight: bold;
}

.text2 {
  color: #747474;
  font-size: 22px;
  line-height: 30px;
  width: 100%;
}

.news {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  width: 70%;
  height: fit-content;
  margin-top: 100px;
}

.news img {
  width: 127px;
  height: 21px;
  object-fit: contain;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 74%;
}

.blog h2 {
  font-size: 48px;
  font-family: "AvantGarde", sans-serif;
  margin-top: 110px;
}

.blog p {
  color: #e9204f;
  font-family: "Trade Gothic", Sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 17px;
  margin-top: 25px;
  letter-spacing: -0.72px;
}

footer {
  background-color: #1b1b1b;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foot {
  width: 74%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.foot1 {
  height: fit-content;
  display: grid;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  min-height: 200px;
  text-align: center;
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  width: 200px;
}

.network {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #e9204f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 3px 0 0;
  transition: ease-out 200ms;
}

.network:hover {
  transform: translateY(-15px);
  transition: ease-out 200ms;
}

.network:hover i {
  color: #e9204f;
  transition: ease-out 200ms;
}

.foot h1 {
  color: white;
  font-family: "AvantGarde";
  width: 250px;
  margin-left: 10%;
}

.foot2 {
  display: grid;
  align-items: center;
  justify-content: center;
  height: fit-content;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  color: white;
  margin-top: 40px;
}

.foot2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  gap: 5px;
}

.foot2 div h3 {
  font-family: "Avantgarde";
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.foot3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  /* min-height:80px ; */
  margin-top: 40px;
  margin-bottom: 40px;
}
.foot3 p {
  font-family: "inter";
  color: white;
  font-size: 14px;
  font-weight: lighter;
  min-width: 240px;
}

span {
  font-weight: 500;
  cursor: pointer;
  transition: ease-out 400ms;
}
span:hover {
  color: #e9204f;
  transition: ease-out 400ms;
}

.foot3 ul li {
  min-width: 100px;
}

@media (max-width: 700px) {
  .designContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .designItem:nth-child(2) {
    margin: 20px 0;
  }

  .aboutContainer2 {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .client {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }

  .client1,
  .client2 {
    padding: 20px;
  }

  .foot2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 460px) {
  .news {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: fit-content;
    gap: 30px;
    justify-content: center;
    width: 70%;
  }
  .news img {
    width: 80%;
  }

  .headContent h1 {
    font-size: 40px;
  }
}

@media (min-width: 460px) and (max-width: 770px) {
  .news {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: fit-content;
    gap: 30px 20px;
    justify-content: center;
    width: 70%;
  }

  .headContent {
    padding-left: 10px;
  }

  .headContent h1 {
    /* width: 650px; */
    font-size: 50px;
  }
}

@media (max-width: 1200px) {
  .foot1 {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    /* justify-content: center; */
    /* padding-left: 5%; */
    gap: 10px !important;
    margin-top: 40px;
    width: 300px;
    height: 200px;
  }

  .icons,
  .foot1 h1 {
    height: 60px;
    justify-self: center;
  }
  .floatingBtn {
    margin-left: 50px;
  }
}

@media (min-width: 770px) and (max-width: 1280px) {
  .news {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: fit-content;
    gap: 30px 20px;
    justify-content: center;
    width: 70%;
  }

  .foot3 div {
    width: 10%;
  }
}

@media (max-width: 1000px) {
  #navLinks {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 70px;
    right: 50px;
    background-color: black;
    width: 100px;
    padding: 0;
    text-align: center;
  }
  #navLinks.active {
    display: flex;
  }

  #hamburger {
    display: block;
  }
  #search i {
    margin-left: 45px;
    /* justify-self: center; */
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .designContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .designItem:nth-child(2) {
    margin: 20px 0;
  }

  .aboutContainer1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .client {
    grid-template-columns: repeat(1, 1fr);
  }

  .client1 {
    width: 90%;
  }

  .client1 img {
    width: 97%;
    height: calc(100%-20px);
    margin-bottom: 20px;
  }
}

@media (min-width: 890px) and (max-width: 950px) {
  .serviceItems {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1020px) {
  .aboutContainer1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .item1:nth-child(1) {
    grid-row: span 1;
    grid-column: span 1;
  }

  .item1:nth-child(2) {
    margin-top: -1400px 0;
  }

  .item1 img {
    width: 100%;
    height: auto;
  }

  .item1 {
    width: 100%;
    height: fit-content;
  }

  .aboutContainer2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .headerContainer {
    grid-template-columns: 1fr; 
  }

  .headItem{
    width: 100% !important;
    height: 300px;
  }

  .headerContainer{
    height: 2000px !important;
    width: 90%;
    gap: 1px !important;
  }

  .line{
    display: none;
  }
}

@media (min-width: 1020px) {
  .aboutContainer1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .foot3 {
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .foot3 ul li {
    min-width: auto !important;
  }
}

@font-face {
  font-family: "AvantGarde";
  src: url("./assets/fonts/AvantGarde-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
